# Ignore everything
*

# But not these files...
!.gitignore
!Skeleton.cpp

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/src/Skeleton.cpp
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
